th, td {
  text-align: center;
}
#heading {
  text-align: center;
}
table {
  width: 100%;
}
th {
  background-color: #D6EEEE;
}
.t-data2 {
  background-color: #D6EEEE;
}
.t-data4 {
  background-color: #D6EEEE;
}
.t-data6 {
  background-color: #D6EEEE;
}
.t-data8 {
  background-color: #D6EEEE;
}



